.DS_Store
.project
.metadata
.checkstyle
*.bak
.settings/
.classpath
target
test-output
*.orig
log/
client/node_modules
client/dist
sh
.idea/
/Bnade.zip
/Data.lua
/addon/
appData
/doc
/src/main/resources/qqconnectconfig.properties