extends layout
block title
	title BNADE魔兽世界关于我们
block content
	div.container-fluid
		div.container
			h3 关于我们
			div.row
				div.col-md-7
					p <strong>BNADE</strong>(Battle Net Auction Data Extracting)成立于2016年1月, 网站<a href="http://www.bnade.com">www.bnade.com</a>是专业的魔兽世界数据查询分析工具。
					p 我们一直致力于不断增加和完善网站功能，为玩家提供更好的服务。
				div.col-md-5
block pagescript