extends layout
block title
	title 魔兽世界时光徽章实时价格查询 时光徽章历史价格 时光徽章价格波动
block content
	div.container-fluid
		div.container
			h2.sub-header app下载
			h3 Android
			p 目前app只有一个简单的功能，查看所有的物品搜索排行榜，有兴趣的可以下载试用。
			p 功能：
			ul
				li 当日的物品搜索排行
				li 消息推送
				li 热更新
			p
				a.btn.btn-primary(href="http://www.bnade.com/app/bnade.apk") Android下载
			h3 IOS
			p 暂不支持
block pagescript