extends layout
block title
	title BNADE捐赠 打赏
block content
	div.container-fluid
		div.container
			div.row
				div.col-md-8
					h1 感谢有你
					p 感谢大家的捐赠和打赏，我们会更努力的为大家提供更加优质的服务以及开发新的功能，为了BNADE能走的更好更远。大家对网站有任何意见或建议也欢迎给我发邮件liufeng0103@163.com
			div.row
				div.col-md-4
					p 微信扫码
					img(src="./images/wx.jpg")
				div.col-md-4
					p 支付宝扫码
					img(src="./images/zfb.jpg")
block pagescript