extends layout
block title
	title 魔兽世界物价查询
block content
	div.jumbotron
			div.container
				h2 BNADE藏宝海湾
				p 魔兽世界各服务器物品的价格走势和所有服务器的价格比较查询，有兴趣的点击进入按钮
				p
					a.btn.btn-primary.btn-lg(href="itemQuery.html",role="button") 进入 &raquo;
		div.container-fluid
			div.container
				div.row
					div.col-md-4
						h2 物价查询
						p 魔兽世界物价查询,走势,全服务器价格比较
						p
							a.btn.btn-default(href="itemQuery.html",role="button") 进入 &raquo;
					div.col-md-4
						h2 宠物查询
						p 魔兽世界全服务器宠物各成长类型价格查询
						p
							a.btn.btn-default(href="petQuery.html",role="button") 进入 &raquo;
					div.col-md-4
						h2 时光徽章
						p 魔兽世界时光徽章实时价格查询,24小时价格波动,历史价格查询
						p
							a.btn.btn-default(href="wowtoken.html",role="button") 进入 &raquo;
				div.row
					div.col-md-4
						h2 webapp
						p 手机浏览器请使用webapp
						p
							a.btn.btn-default(href="http://webapp.bnade.com",role="button") 进入 &raquo;