extends layout
block title
	title 魔兽世界 所有物品规则
block content
	div.container-fluid
		div.container
			h3 物品提醒规则
			div#itemRuleContainer
			p 说明:
			ul
				li 0表示未设置
				li 有任何问题请在NGA帖子下留言:
					a(href="http://bbs.nga.cn/read.php?tid=8883933") http://bbs.nga.cn/read.php?tid=8883933
block pagescript
	script(src="js/itemRule.js?rev=@@hash")