block layout
	doctype html
	html(lang="zh-CN")
		head
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible",content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="Keywords",content="魔兽世界,物价查询,最低一口价,魔兽,wow,拍卖行,AH,物品价格,价格走势,价格波动,BNADE,藏宝海湾")
			meta(name="Description",content="魔兽世界物价查询,AH数据库,魔兽世界拍卖行最低价,魔兽世界拍卖行物品价格查询,全服务器价格比较")
			block title
			link(rel="stylesheet",href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css")
			link(rel="stylesheet",href="css/main.css?rev=@@hash")
			link(rel="stylesheet",href="css/wow.css?rev=@@hash")
			link(rel="stylesheet",href="css/jquery-ui.min.css?rev=@@hash")
			link(rel="stylesheet",href="css/jquery-ui.structure.min.css?rev=@@hash")
			link(rel="icon",href="images/favicon.png")
			<!--[if lt IE 9]>
			<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
		body
			include includes/header.jade
			block content
			include includes/footer.jade
			script(src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js")
			script(src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js")
			script(src="js/main.js?rev=@@hash")
			block pagescript