extends layout
block title
	title 魔兽世界 满足设置规则的物品
block content
	div.container-fluid
		div.container
			h3 满足设置规则的物品
			div#worthItemContainer
			p 说明:
			ul
				li 0表示未设置
				li 有任何问题请在NGA帖子下留言:
					a(href="http://bbs.nga.cn/read.php?tid=8883933") http://bbs.nga.cn/read.php?tid=8883933
block pagescript
	script(src="js/worthItem.js?rev=@@hash")