div.container
	hr
	footer.text-center
		ul.list-inline
			li
				div#Layer1(style="display: none; position: absolute; z-index: 100;")
				a(href="#",onmouseout="hiddenPic();",onmousemove="showPic(event,'./images/jzds.jpg');") 捐赠/打赏
			li
				a(href="http://weibo.com/bnade") BNADE微博
			li
				a(href="http://www.miitbeian.gov.cn/") 辽ICP备16000931号
			li
				script(src="http://s4.cnzz.com/z_stat.php?id=1257191070&web_id=1257191070",language="JavaScript")